In [1]:
import re

https://www.analyticsvidhya.com/blog/2015/06/regular-expression-python/

What are various methods of Regular Expressions?


   1. re.match()
   2. re.search()
   3. re.findall()
   4. re.split()
   5. re.sub()
   6. re.compile()

In [22]:
############# 1. re.match(pattern, string):
#This method finds match if it occurs at start of the string
result = re.match('AV', 'AVV is matched with first two letters of phrase and none other av AV')
print(result)

#Use “r” at the start of the pattern string, it designates a python raw string.
print (result.group(0))

<_sre.SRE_Match object; span=(0, 2), match='AV'>
AV

In [24]:
result = re.match(r'Analytics', 'AV Analytics Vidhya AV')
print (result)

None

In [28]:
#get starting and ending positions of AV matched
result = re.match(r'AV', 'AV Analytics Vidhya AVd c')
print (result.start())
print (result.end())

0
2

In [29]:
########### 2. re.search(pattern, string):

result = re.search(r'Analytics', 'AV Analytics Vidhya AV')
print (result.group(0))

Analytics

In [30]:
result = re.search(r'Analytics', 'AV Analytics Vidhya analytics Analytics AV')
print (result.group(0))

Analytics

In [34]:
########### 3. result = re.findall(pattern, string)

result = re.findall(r'AV', 'AV Analytics Vidhya av AV Av')
print (result)

['AV', 'AV']

In [35]:
######### 4. re.split(pattern, string, [maxsplit=0]):

result=re.split(r'y','Analytics')
result

['Anal', 'tics']

In [37]:
re.split('y','Analytic s why is it importytanty') # we may use r to group together

['Anal', 'tic s wh', ' is it import', 'tant', '']

In [38]:
result=re.split(r'i','Analytics Vidhya',maxsplit=1)
result

['Analyt', 'cs Vidhya']

In [39]:
result=re.split(r'i','Analytics Vidhya')
result

['Analyt', 'cs V', 'dhya']

In [43]:
######### 5. re.sub(pattern, repl, string):

#to replace all the sub matchings with the given string in a phrase
result=re.sub('India','the World','AV is largest Analytics community of India and the world for testing')
result

'AV is largest Analytics community of the World and the world for testing'

In [49]:
######## 6. re.compile(pattern, repl, string):

import re
pattern=re.compile('AV')
result=pattern.findall('AV Analytics Vidhya AV')
print (result)
result2=re.compile('AV').findall('AV is largest analytics community of India')
print (result2)
result3=re.findall('AV','AV Analytics Vidhya AV')
print(result3)

['AV', 'AV']
['AV']
['AV', 'AV']

Operators 	Description

. 	 Matches with any single character except newline ‘\n’.

? 	 match 0 or 1 occurrence of the pattern to its left

+ 	 1 or more occurrences of the pattern to its left

* 	 0 or more occurrences of the pattern to its left

\w 	 Matches with a alphanumeric character whereas \W (upper case W) matches non alphanumeric character.

\d 	  Matches with digits [0-9] and /D (upper case D) matches with non-digits.

\s 	 Matches with a single white space character (space, newline, return, tab, form) and \S (upper case S) matches any non-white space character.

\b 	 boundary between word and non-word and /B is opposite of /b

[..] 	 Matches any single character in a square bracket and [^..] matches any single character not in square bracket

\ 	 It is used for special meaning characters like \. to match a period or \+ for plus sign.

^ and $ 	 ^ and $ match the start or end of the string respectively

{n,m} 	 Matches at least n and at most m occurrences of preceding expression if we write it as {,m} then it will return at least any minimum occurrence to max m preceding expression.

a| b 	 Matches either a or b

( ) 	Groups regular expressions and returns matched text

\t, \n, \r 	 Matches tab, newline, return

For more details on  meta characters “(“, “)”,”|” and others details , you can refer this link (https://docs.python.org/2/library/re.html).

In [51]:
#Some Examples of Regular Expressions

import re
result=re.findall(r'.','AV is largest Analytics community of India')
print (result)

['A', 'V', ' ', 'i', 's', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'A', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', 'y', ' ', 'o', 'f', ' ', 'I', 'n', 'd', 'i', 'a']

In [78]:
re.findall(r'\w','AV is largest Analytics community of India')

['A',
 'V',
 'i',
 's',
 'l',
 'a',
 'r',
 'g',
 'e',
 's',
 't',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 's',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 't',
 'y',
 'o',
 'f',
 'I',
 'n',
 'd',
 'i',
 'a']

In [57]:
####Extract each word (using “*” or “+“)

result=re.findall(r'\w*','AV is largest Analytics community of India')
print (result)
print(re.findall(r'\w+','AV is largest Analytics community of India'))

['AV', '', 'is', '', 'largest', '', 'Analytics', '', 'community', '', 'of', '', 'India', '']
['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']

In [63]:
#######Extract each word (using “^“)
print(re.findall(r'^\w' , 'AV is largest Analytics community of India'))

print(re.findall(r'^\w+' , 'AV is largest Analytics community of India'))

print(re.findall(r'^\w*' , 'AV is largest Analytics community of India'))

['A']
['AV']
['AV']

In [70]:
#use “$” instead of “^”, it will return the word from the end of the string. 
print(re.findall(r'\w$' , 'AV is largest Analytics community of India'))

print(re.findall(r'\w+$' , 'AV is largest Analytics community of India'))

print(re.findall(r'\w*$' , 'AV is largest Analytics community of India'))

['a']
['India']
['India', '']

Problem 2: Return the first two character of each word

In [105]:
#Solution-1  Extract consecutive two characters of each word, excluding spaces (using “\w“) 

print(re.findall(r'(\w\w)', 'AV is largest Analytics community of India'))

['AV', 'is', 'la', 'rg', 'es', 'An', 'al', 'yt', 'ic', 'co', 'mm', 'un', 'it', 'of', 'In', 'di']

In [119]:
#Solution-2  Extract consecutive two characters those available at start of word boundary (using “\b“)
print(re.findall(r'\b\w.','AV is largest Analytics community of India'))
print(re.findall(r'(\b\w\w)', 'AV is largest Analytics community of India'))
print(re.findall(r'(\s\w\w)', 'AV is largest Analytics community of India'))
print(re.findall(r'(.\w\b)', 'AV is largest Analytics community of India'))
print(re.findall(r'(\w\w\b)', 'AV is largest Analytics community of India'))
print(re.findall(r'(\w\w\s)', 'AV is largest Analytics community of India'))

['AV', 'is', 'la', 'An', 'co', 'of', 'In']
['AV', 'is', 'la', 'An', 'co', 'of', 'In']
[' is', ' la', ' An', ' co', ' of', ' In']
['AV', 'is', 'st', 'cs', 'ty', 'of', 'ia']
['AV', 'is', 'st', 'cs', 'ty', 'of', 'ia']
['AV ', 'is ', 'st ', 'cs ', 'ty ', 'of ']

Problem 3: Return the domain type of given email-ids

In [127]:
#Solution-1  Extract all characters after “@”

result=re.findall(r'@\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz') 
print (result) 

result=re.findall(r'@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

result=re.findall(r'\w+@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['@gmail', '@test', '@analyticsvidhya', '@rest']
['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']
['test@gmail.com', 'xyz@test.in', 'first@analyticsvidhya.com', 'test@rest.biz']

In [134]:
#Solution – 2 Extract only domain name using “( )”

result=re.findall(r'@(\w+).\w+','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz')
print (result)

['gmail', 'test', 'analyticsvidhya', 'rest']
['com', 'in', 'com', 'biz']

Problem 4: Return date from given string

In [140]:
#solution - Here we will use “\d” to extract digit.
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

#If you want to extract only year again parenthesis “( )” will help you.
result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['12-05-2007', '11-11-2011', '12-01-2009']
['2007', '2011', '2009']

Problem 5: Return all words of a string those starts with vowel

In [160]:
result=re.findall(r'\w+','AV is largest Analytics community of India')
print (result)

result=re.findall(r'\bA\w+','AV is largest Analytics community of India')
print (result)


result=re.findall(r'\b[a,e,i,o,u,A,E,I,O,U]\w+','AV is largest Analytics community of India')
print (result)

result=re.findall(r'\b[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']
['AV', 'Analytics']
['AV', 'is', 'Analytics', 'of', 'India']
['AV', 'is', 'Analytics', 'of', 'India']

Problem 6: Validate a phone number (phone number must be of 10 digits and starts with 7,8 or 9)

In [181]:
import re
li=['9999999999','999999-999','99999x9999','8282828289','7654545746']
for val in li:
 if re.match(r'[7,9]{1}[0-9]{9}',val) and len(val) == 10:
     print ('yes')
 else:
     print ('no')
        
print("\nAfter using '7-9' istead of '7,9'")
import re
li=['9999999999','999999-999','99999x9999','8282828289','7654545746']
for val in li:
 if re.findall(r'[7-9]{1}[0-9]{9}',val) and len(val) == 10:
     print ('yes')
 else:
     print ('no')

yes
no
no
no
yes

After using '7-9' istead of '7,9'
yes
no
no
yes
yes

Problem 7: Split a string with multiple delimiters

In [186]:
#Solution -1 using split()
import re
line = 'asdf fjdk;afed,fjek,asdf,foo' # String has multiple delimiters (";",","," ").
result= re.split(r'[;]', line)
print (result)

result= re.split(r'[\s]', line)
print (result)

result= re.split(r'[,]', line)
print (result)

result= re.split(r'[;\s]', line)
print (result)

result= re.split(r'[;\s,]', line)
print (result)

['asdf fjdk', 'afed,fjek,asdf,foo']
['asdf', 'fjdk;afed,fjek,asdf,foo']
['asdf fjdk;afed', 'fjek', 'asdf', 'foo']
['asdf', 'fjdk', 'afed,fjek,asdf,foo']
['asdf', 'fjdk', 'afed', 'fjek', 'asdf', 'foo']

In [189]:
#Solution -2 We can also use method re.sub() to replace these multiple delimiters with one as space

line = 'asdf fjdk;afed,fjek,asdf,foo'
result= re.sub(r'[;,\s]',' ', line)
print (result)

print(re.split(r'[\s]',result))

asdf fjdk afed fjek asdf foo
['asdf', 'fjdk', 'afed', 'fjek', 'asdf', 'foo']

Problem 8: Retrieve Information from HTML file

In [199]:
str =  '<tr align="center"><td>1</td> <td>Noah</td> <td>Emma</td></tr>'
str += '<tr align="center"><td>2</td> <td>Liam</td> <td>Olivia</td></tr>'
str += '<tr align="center"><td>3</td> <td>Mason</td> <td>Sophia</td></tr>'
str += '<tr align="center"><td>4</td> <td>Jacob</td> <td>Isabella</td></tr>'
str += '<tr align="center"><td>5</td> <td>William</td> <td>Ava</td></tr>'
str += '<tr align="center"><td>6</td> <td>Ethan</td> <td>Mia</td></tr>'
str += '<tr align="center"><td>7</td> <td HTML>Michael</td> <td>Emily</td></tr>'
str

'<tr align="center"><td>1</td> <td>Noah</td> <td>Emma</td></tr><tr align="center"><td>2</td> <td>Liam</td> <td>Olivia</td></tr><tr align="center"><td>3</td> <td>Mason</td> <td>Sophia</td></tr><tr align="center"><td>4</td> <td>Jacob</td> <td>Isabella</td></tr><tr align="center"><td>5</td> <td>William</td> <td>Ava</td></tr><tr align="center"><td>6</td> <td>Ethan</td> <td>Mia</td></tr><tr align="center"><td>7</td> <td HTML>Michael</td> <td>Emily</td></tr>'

In [216]:
#Solution:

result=re.findall(r'<td>\w+</td>\s<td>(\w+)</td>\s<td>(\w+)</td>',str)
print (result)

result=re.findall(r"<td>\w+</td>\s<td HTML>(\w+)</td>\s<td>(\w+)</td>",str)
print (result)

[('Noah', 'Emma'), ('Liam', 'Olivia'), ('Mason', 'Sophia'), ('Jacob', 'Isabella'), ('William', 'Ava'), ('Ethan', 'Mia')]
[('Michael', 'Emily')]